body
  font-family: "concourse-t3", sans-serif

code
  font-family: "pragmatapro", monospace

.small-caps
  font-family: "concourse-c3", sans-serif
  font-variant: normal
  letter-spacing: -1px


nav.menu-bar h1.logotype a
  @include no-text
  @include smart-image-glow($accent-color)


header.hero nav.menu-bar h1.logotype a
  @include smart-opacity(0.6, 1)
  @include smart-image-glow(white)

#hero div.hero-sash
  background: none
  background-image: radial-gradient(circle farthest-corner at left top, rgba($blue, 0.0) 0%, rgba($blue, 0.6) 40%, rgba($violet, 0.6) 60%, rgba($violet, 0.0) 100%)

#hero h1.logotype
  @include no-text

#haskell-on-heroku h1 a
  @include text-button
  @include no-text
  display: block


#mietek
  @include no-text
  display: block
  float: left
  margin-right: ln(1)
  margin-bottom: ln(1)
  border: 1px $object-color solid
  border-radius: 50%

.hairline #mietek
  border-width: 0.5px


blockquote.twitter-tweet
  font-style: italic

div.tweet
  margin-top: ln(3/2)
  margin-bottom: ln(3/2)
  margin-right: ln(1)


#logo-for-app-json-files
  background-image: image-url(logo, 1x, svg)
