nav.menu-bar h1.logotype a
  width: 176px
  background-size: 176px auto


header nav.menu-bar h1.logotype a
  @include smart-logotype(color, violet, large)

footer nav.menu-bar h1.logotype a
  @include smart-logotype(gray9, violet, large)


header.hero nav.menu-bar h1.logotype a
  @include smart-logotype(white, white, large)

#hero h1
  @include image("logotype-white-hero-large", "png")
  width: 352px
  background-size: 352px auto
